<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Safe Driving Assistance</title>
</head>

    <body>
    <div class="login">
        <h2>Welcome to CasdriMos</h2>
        <h2>Our goal is to make life safe and sound.</h2>
 <img src="static/img/t1.jpg" class="myimg" />
	<style type="text/css">
				.myimg{
					height:500px;
					margin-top:10px;
					margin-bottom:20px;
					box-shadow:0 0 30px #fff;
				}
			</style>
    </div>

    <div class="login">
        <h2>Have a try!</h2>
         <form method="post">
             <div class="login_box">
             <input type="submit" name="trial" value="Trial driving detection">
                 </div>
      </form>
        <img src="/static/img/R.jpg" class="myimg" />
	<style type="text/css">
				.myimg{
					height:500px;
					margin-top:10px;
					margin-bottom:20px;
					box-shadow:0 0 30px #fff;
				}
			</style>
    </div>

    <div class="login">
        <h2>Login to drive!</h2>
         <form method="post">
             <div class="login_box">
                 <input type="submit" name="login" value="Login!">
             </div>
      </form>
        <img src="/static/img/robot.jpg" class="myimg" />
	<style type="text/css">
				.myimg{
					height:500px;
					margin-top:10px;
					margin-bottom:20px;
					box-shadow:0 0 30px #fff;
				}
			</style>
    </div>

    <div class="login">
        <h2>Register for new driver</h2>
         <form method="post">
             <div class="login_box">
                 <input type="submit" name="register" value="Register!">
             </div>
      </form>
        <img src="/static/img/human.jpg" class="myimg" />
	<style type="text/css">
				.myimg{
					height:500px;
					margin-top:10px;
					margin-bottom:20px;
					box-shadow:0 0 30px #fff;
				}
			</style>
    </div>

    </body>
</html>